body {text-align: center;}
h1 {font-size: 60px;font-family: 'Courier New', Courier, monospace;font-weight: 300;}



#app   {background-color: rgb(138, 56, 127);}




#game {background-color: aquamarine;}



#Chatbot   {background-color: cornflowerblue;}





.line {height: 6px;background-color: black;width: 70px;
margin: 8px auto;}